@charset "utf-8"
  /*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 4
   
   Great Lakescape Lodge Style Sheet
    Author: mike bennett
    Date:   4/11
   
   Filename: lake_styles.css

*/
@import url(lake_layout.css);
@import url("lake_layout.css");
  @font-face {
    font-family: Champagne;
    src: url('cac_champagne.woff') format('woff'),
         url('cac_champagne.ttf') format('ttf');
}
  @font-face {
    font-family: DobkinPlain;
    src: url('DobkinPlain.woff') format('woff'),
         url('DobkinPlain.ttf') format('ttf');
}
html{
  background-color: rgb(151,151,151);
}
body{
  background-color: rgb(180,180,223);
  font-family: Verdana, sans-serif;
}
h1{
  font-weight: normal;
}
h2{
  font-weight: normal;
}
footer{
  color: white;
  background-color: rgb(101,101,101);
  font-size: 0.9em;
  float: absolute;
  padding: 1px 3px;
  letter-spacing 2em;
}
body > header{
  background-color: rgb(97,97,211);
}
body > header > h1{
  font-size: 4.6vw;
  color: rgba(255,255,255,0.8);
  font-family: DobkinPlain, cursive;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 20px;
}
/*Navigation Styles*/
 nav > ul > li > a{
  text-decoration: none;
  color: white;
}
nav > ul > li > a:link, nav > ul > li > a:unvisited{
   text-decoration: none;
  }
nav > ul > li > a:link, nav > ul > li > a:visited{
   text-decoration: none;
}
 nav > ul > li > a:hover, nav > ul > li > a:active{
   text-decoration: none;
}
section#leftcol > p{
  font-family: Campagne, serif;
}
section#leftcol > p::first-letter{
  font-size: 2em;
  list-style-position: inside;
}
aside > h1{
  font-size: 30px;
  float: absolute;
}
aside:nth-of-type(odd){
  background-color: pink;
  padding:8px;
  list-style-position: inside;
  float: left;
}
aside:nth-of-type(even){
  background-color:lightblue;
  padding:8px;
  font-size: 15px;
}
aside::before{content: "`-._,-'`-._,-'`-._,-";}
aside::after {
  content: attr(href);
}
section#rightcol{
  list-style-position: outside;

}








